@import './theme.css';

* {
    border: none;
    border-radius: 0;
    font-family: 'JetBrains Mono', 'lucide';
    font-size: 16px;
    min-height: 0;
}

#waybar {
    background: @base-clear;
    color: @text;
    border-radius: 16px;
    border: 1px solid @overlay;
}

tooltip {
  background: @base-clear;
  border: 1px solid @overlay;
  border-radius: 8px;
}

box.modules-left,
box.modules-right {
  padding: 1px 0;
  margin: 0 16px;
}

.modules-left button,
.modules-right label {
  padding: 0;
  min-width: 32px;
  font-size: 16px;
  transition: none;
}

.modules-left button:hover,
.modules-right label:hover {
  background: @rose;
  color: @highlightMed;
  border-radius: 16px;
  transition: none;
}
