@import './theme.css';

* {
    border: none;
    border-radius: 0;
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: @surface;
    color: @text;
    border-radius: 8px;
    border: 1px solid @overlay;
}
